{% extends 'index.html' %}

{% block headcontent %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'jobplacement/styles/ojthiring_info.css' %}?244">
{% endblock headcontent %}


{% block bodycontent %}
    {% load static %}
    <section>
        <div>
            <!-- mura ni ug header -->
            <h1>{{ ojt.company }}</h1>
            <h4>{{ ojt.owner }}</h4>
        </div>
        <hr>
        <div class="admintable">
            <table>
                <thead>
                    <tr>
                        <th>Student ID</th>
                        <th>Student Name</th>
                        <th>Date Started</th>
                        <th>Program</th> 
                    </tr>
                </thead>
                <tbody>
                        <tr>
                            {% for hired in hired_students %}
                                <td>{{ hired.studID.studID }}</td>
                                <td>{{ hired.studID.firstname }} {{ hired.studentID.lastname }}</td>
                                <td>{{ hired.date_started }}</td>
                                <td>{{ hired.studID.program }}</td>
                            {% endfor %}
                        </tr>

                </tbody>
            </table>
        </div>


    </section>
    <script src="{% static 'jobplacement/scripts/studentsuggestions.js' %}"></script>
{% endblock bodycontent %}